#app/state/swagger.yml

swagger: '2.0'
info:
  title: "Mechanic Shop API"
  description: "This is an API for a mechanic shop, showcasing REST / CRUD principles"
  version: "1.0.0"
host: "127.0.0.1:5001"
schemes:
  - "http"
consumes:
  - "application/json"
produces:
  - "application/json"
paths:
definitions:
