name: Flask CI

on:
    pull_request:
    push:
        branches: [main, master]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"
                  cache: "pip"

            - name: Create Virtual Environment & Install Dependencies
              run: |
                  python -m venv .venv
                  .venv/bin/python -m pip install --upgrade pip
                  .venv/bin/python -m pip install -r requirements.txt

            - name: Print Debugging Information
              run: |
                  echo "Python Version: $(.venv/bin/python --version)"
                  echo "Working Directory: $(pwd)"
                  echo "Contents of Working Directory: $(ls -l)"
                  echo "Contents of site-packages: $(ls -l .venv/lib/python*/site-packages)"

    test:
        runs-on: ubuntu-latest
        needs: build

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"
                  cache: "pip"

            - name: Create Virtual Environment & Install Dependencies
              run: |
                  python -m venv .venv
                  .venv/bin/python -m pip install --upgrade pip
                  .venv/bin/python -m pip install -r requirements.txt

            - name: Run tests
              run: |
                  .venv/bin/python -m unittest discover -s tests -p 'test_*.py'

    deploy:
        runs-on: ubuntu-latest
        needs: test

        # Only deploy on pushes to main
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'

        steps:
            - name: Deploy to production
              uses: johnbeynon/render-deploy-action@v0.0.8
              with:
                  service-id: ${{ secrets.RENDER_SERVICE_ID }}
                  api-key: ${{ secrets.RENDER_API_KEY }}
