name: Flask CI

on:
    pull_request:
    push:
        branches: [main, master]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.12"
            
            - name: Create Virtual Environment & Install Dependencies
              run: |
                python -m venv .venv
                source .venv/bin/activate
                python -m pip install --upgrade pip
                python -m pip install -r requirements.txt

            - name: Print Debugging Information
              run: |
                echo "Python Version: $(.venv/bin/python --version)"
                echo "Working Directory: $(pwd)"
                echo "Contents of Working Directory: $(ls -l)"
                echo "Contents of site-packages: $(ls -l .venv/lib/python*/site-packages)"

            - name: Run tests # -s -> start directory | -p -> file pattern
              run: python -m unittest discover -s tests -p 'test_*.py'

            
